<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Properties | North Point Realty</title>
        <link rel="icon" href="assets/logo-white-simple.png" type="image">
        
        <link rel="stylesheet" href="tailwind.min.css">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="maptalks.css">
        <link href="aos.css" rel="stylesheet">
        <link rel="stylesheet" href="splide.css">
        <script src="aos.js"></script>
        <script src="vue.js"></script>
        <script src="https://kit.fontawesome.com/f086bec7e5.js" crossorigin="anonymous"></script>
        <script src="maptalks.js"></script>
    </head>
    <body>
        <div id="vue-home">
            <div id="nav-bar" class="absolute top-0 left-0 w-full z-50"></div>
            <div v-if="showDetails.visible" class="fixed w-screen h-screen hidden items-center justify-center top-0 left-0" :class="showDetails.visible ? 'isActive' : 'notActive'" style="z-index: 200;">
                <div class="w-full h-full flex justify-center items-center">
                    <div @click="closeViewDetails()" class="absolute w-full h-full details-mask-overlay"></div>
                    <div class="relative w-full h-full md:w-3/5 md:h-5/6 details-page">
                        <div class="flex justify-end">
                            <button @click="closeViewDetails()" style="color: var(--black); z-index: 2;" class="fixed mr-5 mt-3">
                                <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-8 w-8">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </button>
                        </div>
                        <div v-if="showDetails.property" style="padding: 5%;">
                            <div class="mt-12 mb-3 md:mb-5 md:mt-0 lg-font-size headerFont" style="color: var(--black); font-weight: bold;">
                                {{showDetails.property.address}}
                            </div>
                            <div class="splide__style splide">
                                <div class="splide__track">
                                    <ul class="splide__list">
                                        <li class="splide__slide">
                                            <img :src="showDetails.property.image" />
                                        </li>
                                        <li v-for="(img,imgI) in showDetails.property.featuredImages" class="splide__slide" :key="img+imgI">
                                            <img :src="img" />
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="w-full xl:flex items-center py-3 px-4 text-center md:text-left" style="background-color: var(--darkblue);">
                                <div class="md-font-size headerFont" style="color: var(--white); font-weight: bold;">
                                    ${{formatNumber(showDetails.property.price) + '/month'}}
                                </div>
                                <div class="flex-1 lg:flex">
                                    <div class="xl:ml-8 md:flex mt-2 ml-0">
                                        <div class="flex items-center justify-center md:justify-left" style="color: var(--white);">
                                            <i class="fas fa-bed md-font-size"></i>
                                            <div class="ml-2">{{showDetails.property.features.beds}}<span v-if="showDetails.property.features.beds > 1"> Beds</span><span v-else> Bed</span><span v-if="showDetails.property.features.den"> + Den</span></div>
                                        </div>
                                        <div class="md:ml-3 flex items-center justify-center md:justify-left" style="color: var(--white);">
                                            <i class="fas fa-bath md-font-size"></i>
                                            <div class="ml-2">{{showDetails.property.features.baths}}<span v-if="showDetails.property.features.baths > 1"> Baths</span><span v-else> Bath</span></div>
                                        </div>
                                        <div class="md:ml-3 flex items-center justify-center md:justify-left" style="color: var(--white);">
                                            <i class="fas fa-ruler-combined md-font-size"></i>
                                            <div class="ml-2">{{formatNumber(showDetails.property.features.sqft) + ' Sqft'}}</div>
                                        </div>
                                    </div>
                                    <div class="lg:ml-8 mt-5 lg:mt-0 flex-1 flex justify-center md:justify-start lg:justify-end">
                                        <button class="py-2 px-5 searchButton-transparent" onclick="document.location = '/NPRWebsite/contact'">Contact Now</button>
                                    </div>
                                </div>
                            </div>


                            <div class="mt-10 sm-font-size bodyFont md:flex" style="color: var(--black);">
                                <div class="w-full md:w-1/5 mb-8 md:mb-0 bodyFont sm-font-size">
                                    <div style="font-weight: bold;">
                                        Status
                                    </div>
                                    <div class="px-3 py-1" style="display: inline-block; border-radius: 5px; user-select: none; color: var(--white);" :style="[showDetails.property.status == 'Available' ? {'background-color': 'var(--green)'} : {'background-color': 'var(--red)'}]">
                                        {{showDetails.property.status}}
                                    </div>

                                    <div class="mt-8" style="font-weight: bold;">
                                        Move-in Date
                                    </div>
                                    <div>
                                        {{showDetails.property.date}}
                                    </div>

                                    <div class="mt-8" style="font-weight: bold;">
                                        Property Type
                                    </div>
                                    <div>
                                        {{showDetails.property.type}}
                                    </div>

                                    <div class="mt-8" style="font-weight: bold;">
                                        Agreement Type
                                    </div>
                                    <div>
                                        {{showDetails.property.agreementType}}
                                    </div>
                                </div>

                                <div class="w-full md:w-4/5" v-html="showDetails.property.description">
                                </div>
                            </div>


                            <div class="w-full mt-12">
                                <div class="lg-font-size headerFont mb-8">
                                    Features Included
                                </div>
                                <div class="sm:flex gap-10" style="flex-wrap: wrap;">
                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-fire"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Heat
                                            </div>
                                            <i v-if="showDetails.property.utilities.heat" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-tint"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Water
                                            </div>
                                            <i v-if="showDetails.property.utilities.water" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-bolt"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Hydro
                                            </div>
                                            <i v-if="showDetails.property.utilities.hydro" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>
                                    
                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-wifi"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Internet
                                            </div>
                                            <i v-if="showDetails.property.utilities.internet" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-couch"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Furnished
                                            </div>
                                            <i v-if="showDetails.property.features.furnished" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-tshirt"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Laundry
                                            </div>
                                            <i v-if="showDetails.property.features.laundry" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-hands-wash"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Dishwasher
                                            </div>
                                            <i v-if="showDetails.property.features.dishwasher" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-city"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Balcony
                                            </div>
                                            <i v-if="showDetails.property.features.balcony" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-paw"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Pets
                                            </div>
                                            <i v-if="showDetails.property.features.pets" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full" :style="[showMenu ? {'overflow':'hidden', 'max-height':'100vh'} : {'':''}]">
                <div class="hero-img-card relative">
                    <div class="absolute w-full h-full" style="z-index: 2; color:white">
                        <div class="mx-auto container w-full h-full">
                            <div class="flex items-center w-full h-full" style="padding:0 5%;"> 
                                <div class="w-full md:w-1/2 text-center md:text-left">
                                    <div data-aos="fade-right" data-aos-delay="500" class="xl-font-size heroHeaderFont">Properties</div>
                                    <div data-aos="fade-right" data-aos-delay="800" class="sm-font-size bodyFont mt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/interior.jpg" class="hero-img-cover" />
                </div>
                <div class="container mx-auto">
                    <div style="padding: 5%;">
                        <!-- Filter -->
                        <div class="mt-0 mb-10 md:mb-20">
                            <div class="w-full lg:w-3/4 mx-auto py-10 px-10 bodyFont sm-font-size" style="background-color: var(--darkblue);">
                                <div class="text-center headerFont md-font-size" style="font-weight: bold; color: var(--white);">
                                    WHAT ARE YOU LOOKING FOR?
                                </div>
                                <div class="mt-5 grid grid-cols-2 md:grid-cols-5 gap-10 items-end text-center md:text-left w-full">
                                    <div class="w-full" style="color: var(--white)">
                                        <div class="mb-2">Number of Beds</div>
                                        <div class="py-2 flex items-center justify-between" style="border-bottom: 2px solid var(--white);">
                                            <select class="filterClass" v-model="selectedBed" style="width:100%; cursor:pointer; background-color: transparent;">
                                                <option value="any">Any</option>
                                                <option v-for="(bed,bedI) in beds" :value="bed" :key="bed+bedI">{{bed}} Bed(s)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="w-full" style="color: var(--white)">
                                        <div class="mb-2">Number of Baths</div>
                                        <div class="py-2 flex items-center justify-between" style="border-bottom: 2px solid var(--white);">
                                            <select class="filterClass" v-model="selectedBath" style="width:100%; cursor:pointer; background-color: transparent;">
                                                <option value="any">Any</option>
                                                <option v-for="(bath,bathI) in baths" :value="bath" :key="bath+bathI">{{bath}} Bath(s)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="w-full" style="color: var(--white)">
                                        <div class="mb-2">Min Price</div>
                                        <div class="py-2 flex items-center justify-between" style="border-bottom: 2px solid var(--white);">
                                            <input v-model="minPrice" class="filterClass w-full" style="background-color: transparent;" type="number"></input>
                                        </div>
                                    </div>
                                    <div class="w-full" style="color: var(--white)">
                                        <div class="mb-2">Max Price</div>
                                        <div class="py-2 flex items-center justify-between" style="border-bottom: 2px solid var(--white);">
                                            <input v-model="maxPrice" class="filterClass w-full" style="background-color: transparent;" type="number"></input>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-center md:justify-end flex-1 col-span-2 md:col-span-1">
                                        <button @click="runFilter()" class="searchButton-transparent px-8 py-3">SEARCH</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="md:flex justify-between items-end">
                            <h1 class="headerFont xl-font-size">All Properties</h1>
                            <div v-if="filterRan" class="bodyFont sm-font-size" style="color: var(--gray);">Search: {{filteredProperties.length}} Result(s)</div>
                        </div>
                        <div class="my-10 grid sm:grid-cols-2 lg:grid-cols-3 gap-10 sm:gap-16 lg:gap-20">
                            <template v-for="(prop,propI) in filteredProperties">
                                <div data-aos="zoom-in" :data-aos-delay="propI*50" @click="updateShowDetails(prop)" class="w-full">
                                    <div class="img-holder-box relative">
                                        <div class="absolute top-4 left-4 px-3 py-1" style="z-index: 2; border-radius: 5px; user-select: none; cursor: pointer; color: var(--white);" :style="[prop.status == 'Available' ? {'background-color': 'var(--green)'} : {'background-color': 'var(--red)'}]">
                                            {{prop.status}}
                                        </div>
                                        <img class="img-cover" :src="prop.image" />
                                    </div>
                                    <div>
                                        <div class="mt-2 md-font-size headerFont" style="font-weight: bold;">
                                            {{prop.address}}
                                        </div>
                                        <div class="mt-2 md-font-size headerFont" style="color: var(--darkorange);">
                                            ${{formatNumber(prop.price) + '/month'}}
                                        </div>
                                        <div class="md:flex mt-2">
                                            <div class="flex items-center">
                                                <i class="fas fa-bed md-font-size" style="color: var(--black);"></i>
                                                <div class="ml-2">{{prop.features.beds}}<span v-if="prop.features.beds > 1"> Beds</span><span v-else> Bed</span><span v-if="prop.features.den"> + Den</span></div>
                                            </div>
                                            <div class="md:ml-3 flex items-center">
                                                <i class="fas fa-bath md-font-size" style="color: var(--black);"></i>
                                                <div class="ml-2">{{prop.features.baths}}<span v-if="prop.features.baths > 1"> Baths</span><span v-else> Bath</span></div>
                                            </div>
                                            <div class="md:ml-3 flex items-center">
                                                <i class="fas fa-ruler-combined md-font-size" style="color: var(--black);"></i>
                                                <div class="ml-2">{{formatNumber(prop.features.sqft) + ' Sqft'}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="map-container">
                    <div id="map" class="w-full h-full"></div>
                </div>

                <div id="footer"></div>
            </div>
        </div>

        <script>
            AOS.init();
        </script>
        <script src="navbar.js"></script>
        <script src="footer.js"></script>
        <script src="script.js"></script>
        <script src="splide.js"></script>
        
        <script>
            new Vue({
                el: '#vue-home',
                data:{
                    showMenu: false,
                    currentTab: 'properties',
                    showDetails:{
                        visible:false,
                        property:{}
                    },


                    properties:[
                        {
                            id:1,
                            image:'assets/properties/1/condo-placeholder.png',
                            featuredImages:[
                                'assets/properties/1/condo-placeholder.png',
                                'assets/properties/1/condo-placeholder.png',
                                'assets/properties/1/condo-placeholder.png'
                            ],
                            type:'Highrise',
                            status:'Leased',
                            address:'111 Bathurst St, Toronto, ON M5V 2P9',
                            price:1650,
                            description:"Beautiful One Bedroom Condo available for rent. Located at Bathurst St & King St W (111 Bathurst St), this unit is perfect for any professional individual/couple! Close to the Harbor front, Public transportation, Union Station, Gardiner Expressway, with many restaurants and shops just steps away. Come take a look at the unit yourself!",
                            date:'June 1, 2021',
                            utilities:{
                                heat:true,
                                water:true,
                                hydro:false,
                                internet:false
                            },
                            features:{
                                beds:1,
                                baths:1,
                                sqft:500,
                                parking:0,
                                garage:0,
                                exposure:'',
                                furnished:false,
                                laundry:false,
                                dishwasher:false,
                                balcony:false,
                                pets:false,
                                den:true,
                            },
                            geometry:{
                                location:{
                                    lat:43.645120,
                                    lng:-79.402810
                                }
                            },
                            agreementType:'N/A',
                        },
                        {
                            id:2,
                            image:'assets/properties/1/condo-placeholder.png',
                            featuredImages:[
                                'assets/properties/1/condo-placeholder.png',
                                'assets/properties/1/condo-placeholder.png',
                                'assets/properties/1/condo-placeholder.png'
                            ],
                            type:'Highrise',
                            status:'Available',
                            address:'66 Forest Manor, Toronto, ON M2J 0B7',
                            price:1800,
                            description:"Beautiful 1 bedroom & 1 washroom Condo Available for Rent. Conveniently Located off Hwy 401 and 404/DVP near Fairview mall and Don Mills Station, this unit is perfect for any professional individual/couple and family! Close to Public Transportation, many Restaurants and Shops just steps away. Come take a look at the unit yourself!",
                            date:'August 1, 2021',
                            utilities:{
                                heat:true,
                                water:false,
                                hydro:true,
                                internet:false
                            },
                            features:{
                                beds:1,
                                baths:1,
                                sqft:600,
                                parking:0,
                                garage:0,
                                exposure:'',
                                furnished:false,
                                laundry:false,
                                dishwasher:false,
                                balcony:false,
                                pets:true,
                                den:false,
                            },
                            geometry:{
                                location:{
                                    lat:43.774250,
                                    lng:-79.346190
                                }
                            },
                            agreementType:'N/A',
                        },
                        {
                            id:3,
                            image:'assets/properties/1/condo-placeholder.png',
                            featuredImages:[
                                'assets/properties/1/condo-placeholder.png',
                                'assets/properties/1/condo-placeholder.png',
                                'assets/properties/1/condo-placeholder.png'
                            ],
                            type:'Highrise',
                            status:'Leased',
                            address:'9085 Jane St, Vaughan, ON L4K 2N9',
                            price:2000,
                            description:"1 Bedroom + Den & 2 Washroom Condo Available for Rent. Located in Vaughan at the corner of Jane Street & Rutherford Road, this unit is perfect for any professional individual/couple and family! Close to Public Transportation, Canada's Wonderland, Vaughan Mills Mall, and many Restaurants and Shops just steps away. Come take a look at the unit yourself!",
                            date:'September 1, 2021',
                            utilities:{
                                heat:true,
                                water:true,
                                hydro:false,
                                internet:false
                            },
                            features:{
                                beds:1,
                                baths:2,
                                sqft:700,
                                parking:0,
                                garage:0,
                                exposure:'',
                                furnished:false,
                                laundry:false,
                                dishwasher:false,
                                balcony:false,
                                pets:false,
                                den:false,
                            },
                            geometry:{
                                location:{
                                    lat:43.828730,
                                    lng:-79.532020
                                }
                            },
                            agreementType:'N/A',
                        },
                        {
                            id:4,
                            image:'assets/properties/1/condo-placeholder.png',
                            featuredImages:[
                                'assets/properties/1/condo-placeholder.png',
                                'assets/properties/1/condo-placeholder.png',
                                'assets/properties/1/condo-placeholder.png'
                            ],
                            type:'Highrise',
                            status:'Leased',
                            address:'80 Harrison Garden Blvd, North York, ON M2N 7E3',
                            price:1500,
                            description:"Spacious 2 Bedroom 2 Washroom Condo Available for Rent in July. Located off Highway 401 & Yonge St at 80 Harrison Garden Blvd, this unit is perfect for any professional individual/couple and family! Close to Highways and Public Transportation, with many restaurants and shops just steps away. Come take a look at the unit yourself!",
                            date:'July 15, 2021',
                            utilities:{
                                heat:true,
                                water:true,
                                hydro:false,
                                internet:false
                            },
                            features:{
                                beds:2,
                                baths:2,
                                sqft:900,
                                parking:0,
                                garage:0,
                                exposure:'',
                                furnished:false,
                                laundry:false,
                                dishwasher:false,
                                balcony:false,
                                pets:false,
                                den:true,
                            },
                            geometry:{
                                location:{
                                    lat:43.756340,
                                    lng:-79.405690
                                }
                            },
                            agreementType:'N/A',
                        },
                        {
                            id:5,
                            image:'assets/properties/1/condo-placeholder.png',
                            featuredImages:[
                                'assets/properties/1/condo-placeholder.png',
                                'assets/properties/1/condo-placeholder.png',
                                'assets/properties/1/condo-placeholder.png'
                            ],
                            type:'Lowrise',
                            status:'Leased',
                            address:'215 Queen St E, Brampton, ON L6W 0A9',
                            price:1795,
                            description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est risus, feugiat vel metus eu, malesuada dignissim neque. Aliquam erat volutpat. Ut sem mauris, consequat et luctus sed, finibus vitae libero. Proin at suscipit ipsum. Nam aliquet enim ex. Quisque at vulputate mi. Praesent fringilla placerat erat in aliquet. Donec gravida mi a tortor fringilla convallis. Cras id mi nisi. Donec vestibulum arcu vel augue suscipit, quis varius lectus egestas. Donec sit amet mi rhoncus erat luctus vestibulum a sed leo.',
                            date:'May 1, 2021',
                            utilities:{
                                heat:true,
                                water:false,
                                hydro:true,
                                internet:false
                            },
                            features:{
                                beds:4,
                                baths:2,
                                sqft:1200,
                                parking:1,
                                garage:0,
                                exposure:'',
                                furnished:true,
                                laundry:false,
                                dishwasher:true,
                                balcony:false,
                                pets:true,
                                den:false,
                            },
                            geometry:{
                                location:{
                                    lat:43.8259954,
                                    lng:-79.3520957
                                }
                            },
                            agreementType:'1 Year',
                        },
                    ],



                    filteredProperties:[],
                    minPrice:0,
                    maxPrice:0,
                    beds:[],
                    baths:[],
                    selectedBed:'any',
                    selectedBath:'any',
                    map:null,
                    vectorLayer:null,
                    selectedMarker:{},
                    mapData:{
                        availableLogo:'assets/NPR-available.png',
                        leasedLogo:'assets/NPR-leased.png',
                        lat:43.8229972,
                        lng:-79.3067769
                    },
                    filterRan:false,
                    splideImages:null
                },
                watch:{
                    'showDetails':{
                        handler(val){
                            console.log('VAL', val)
                            if (val.visible){
                                setTimeout( () => {
                                    new Splide( '.splide', {
                                        'cover'      : true,
                                        'heightRatio': 0.5,
                                        'type': 'loop'
                                    } ).mount();
                                }, 1)
                                
                            }
                        },
                        deep:true
                    }
                },
                methods:{
                    runFilter(){
                        console.log('FILTER RAN')
                        this.filterRan = true
                        this.filteredProperties = this.properties.filter(x => {
                            if ((x.price >= this.minPrice) && (x.price <= this.maxPrice) && (x.features.beds >= this.selectedBed || this.selectedBed == 'any') && (x.features.baths >= this.selectedBath || this.selectedBath == 'any')){
                                return true
                            }
                        })
                        let self = this
                        setTimeout(() => {
                            if (this.vectorLayer) this.map.removeLayer(this.vectorLayer);
                            this.vectorLayer = new maptalks.VectorLayer('vector', {
                                enableAltitude: true,
                                drawAltitude: {
                                    lineWidth: 2,
                                    lineColor: '#aaa'
                                }
                            }).addTo(self.map);
                            this.filteredProperties.forEach(x => {
                                let iconUrl = self.mapData.availableLogo
                                if (x.status == 'Leased'){
                                    iconUrl = self.mapData.leasedLogo
                                }
                                let marker = new maptalks.Marker(
                                    [x.geometry.location.lng, x.geometry.location.lat],
                                    {
                                        cursor : 'pointer',
                                        'symbol' : {
                                            'markerFile'   : iconUrl || '',
                                            'markerWidth'  : 40,
                                            'markerHeight' : 40,
                                            'markerDx'     : 0,
                                            'markerDy'     : 0,
                                            'markerOpacity': 1
                                        }
                                    }
                                )
                                marker.addTo(self.vectorLayer)
                                
                                marker.setInfoWindow({
                                    'autoCloseOn': 'click',
                                    'autoPan': false,
                                    'single': false,
                                    'width': 383,
                                    'height': 105,
                                    'custom': true,
                                    'dx': 0,
                                    'dy': -20,
                                    'content': `<div class="infobox-content relative" onclick="updateDetails(${x.id})" style="cursor: pointer;">
                                            <div class="absolute bottom-3 right-3">
                                                <i class="fas fa-chevron-right" style="font-size: 16px; color: var(--black);"></i>
                                            </div>
                                            <div class="pop_title" style="width: 240px; max-width: 240px; height: 150px; max-height: 150px; overflow: hidden; display: ${!x.image? 'none' : ''}">
                                                <center>
                                                    <img src="${x.image}" style="width: 100%; height: 100%; object-fit: cover; display: ${!x.image? 'none' : ''}" />
                                                </center>
                                            </div>
                                            <div class="bodyFont" style="padding: 10px 20px 0 20px; max-width: 240px; font-size: 16px;">${x.address}</div>
                                            <div class="bodyFont" style="padding: 0 20px 0 20px; max-width: 240px; font-size: 16px; color: var(--darkorange); font-weight: bold;">${x.price ? `$${x.price.toLocaleString(`us-EN`)}/month` : '$0/month'}</div>
                                            <div class="bodyFont" style="padding: 0 20px 0 20px; max-width: 240px; font-size: 16px;">
                                                <div class="flex items-center bodyFont" style="font-size: 16px;">
                                                    <i class="fas fa-bed" style="color: var(--black);"></i>
                                                    <div class="ml-2">${x.features.beds} Bed(s)</div>
                                                </div>
                                                <div class="flex items-center bodyFont" style="font-size: 16px;">
                                                    <i class="fas fa-bath" style="color: var(--black);"></i>
                                                    <div class="ml-2">${x.features.baths} Bath(s)</div>
                                                </div>
                                                <div class="flex items-center bodyFont" style="font-size: 16px;">
                                                    <i class="fas fa-ruler-combined" style="color: var(--black);"></i>
                                                    <div class="ml-2">${x.features.sqft.toLocaleString(`us-EN`) + ' Sqft'}</div>
                                                </div>  
                                            </div>
                                            <div style="padding: 0 20px 10px 20px;"></div>
                                            </div>`
                                });
                            })
                        }, 500)
                    },
                    toggleMenu(){
                        this.showMenu = !this.showMenu
                    },
                    navigateHome(){
                        location.href='/NPRWebsite/'
                    },
                    closeViewDetails(){
                        this.showDetails.visible = false
				        this.showDetails.property = {}
                    },
                    updateShowDetails(obj){
                        this.showDetails.property = obj
                        this.showDetails.visible = true
                    },
                    updateShowDetailsMap(id){
                        console.log('UPDATE SHOW DETAILS MAP RAN')
                        let obj = this.properties.find( x => x.id === id)
                        this.showDetails.property = obj
                        this.showDetails.visible = true
                    },
                    formatNumber(num){
                        return num.toLocaleString(`us-EN`);
                    },
                    selectMarker(marker) {
                        if(Object.keys(this.selectedMarker).length != 0) this.selectedMarker.closeInfoWindow()
                        let self = this
                        let found = self.vectorLayer._geoList.find(x => x._coordinates.x == marker.geometry.location.lng && x._coordinates.y == marker.geometry.location.lat)
                        self.selectedMarker = found
                        // console.log('marker', marker, this.map, this.vectorLayer)
                        if(self.selectedMarker) {
                            self.selectedMarker.openInfoWindow()
                        }
                    },
                },
                computed:{

                },
                mounted(){
                    console.log('MOUNTED RAN')
                    let self = this
                    let x = this.mapData
                    this.map = new maptalks.Map('map', {
						center: [x.lng, x.lat],
						scrollWheelZoom:false,
						zoom: 10,
						zoomControl: {
							'position'  : 'bottom-right',
							'slider'    : false,
							'zoomLevel' : false
						},
						minZoom: 10,
                		maxZoom: 16,
						baseLayer: new maptalks.TileLayer('base', {
						'urlTemplate' : `http://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png`,
						'subdomains'  : ['a','b','c','d'],
						'attribution'  : '&copy; <a href="http://www.osm.org/copyright">OSM</a> contributors, '+
						'&copy; <a href="https://carto.com/attributions">CARTO</a>',
						})
					});
                    

                    // Add markers here
                    setTimeout(() => {
                        if (this.vectorLayer) this.map.removeLayer(this.vectorLayer);
                        this.vectorLayer = new maptalks.VectorLayer('vector', {
                            enableAltitude: true,
                            drawAltitude: {
                                lineWidth: 2,
                                lineColor: '#aaa'
                            }
                        }).addTo(self.map);
                        this.filteredProperties.forEach(x => {
                            let iconUrl = self.mapData.availableLogo
                            if (x.status == 'Leased'){
                                iconUrl = self.mapData.leasedLogo
                            }
                            let marker = new maptalks.Marker(
                                [x.geometry.location.lng, x.geometry.location.lat],
                                {
                                    cursor : 'pointer',
                                    'symbol' : {
                                        'markerFile'   : iconUrl || '',
                                        'markerWidth'  : 40,
                                        'markerHeight' : 40,
                                        'markerDx'     : 0,
                                        'markerDy'     : 0,
                                        'markerOpacity': 1
                                    }
                                }
                            )
                            marker.addTo(self.vectorLayer)
                            
                            marker.setInfoWindow({
                                'autoCloseOn': 'click',
                                'autoPan': false,
                                'single': false,
                                'width': 383,
                                'height': 105,
                                'custom': true,
                                'dx': 0,
                                'dy': -20,
                                'content': `<div class="infobox-content relative" onclick="updateDetails(${x.id})" style="cursor: pointer;">
                                        <div class="absolute bottom-3 right-3">
                                            <i class="fas fa-chevron-right" style="font-size: 16px; color: var(--black);"></i>
                                        </div>
                                        <div class="pop_title" style="width: 240px; max-width: 240px; height: 150px; max-height: 150px; overflow: hidden; display: ${!x.image? 'none' : ''}">
                                            <center>
                                                <img src="${x.image}" style="width: 100%; height: 100%; object-fit: cover; display: ${!x.image? 'none' : ''}" />
                                            </center>
                                        </div>
                                        <div class="bodyFont" style="padding: 10px 20px 0 20px; max-width: 240px; font-size: 16px;">${x.address}</div>
                                        <div class="bodyFont" style="padding: 0 20px 0 20px; max-width: 240px; font-size: 16px; color: var(--darkorange); font-weight: bold;">${x.price ? `$${x.price.toLocaleString(`us-EN`)}/month` : '$0/month'}</div>
                                        <div class="bodyFont" style="padding: 0 20px 0 20px; max-width: 240px; font-size: 16px;">
                                            <div class="flex items-center bodyFont" style="font-size: 16px;">
                                                <i class="fas fa-bed" style="color: var(--black);"></i>
                                                <div class="ml-2">${x.features.beds} Bed(s)</div>
                                            </div>
                                            <div class="flex items-center bodyFont" style="font-size: 16px;">
                                                <i class="fas fa-bath" style="color: var(--black);"></i>
                                                <div class="ml-2">${x.features.baths} Bath(s)</div>
                                            </div>
                                            <div class="flex items-center bodyFont" style="font-size: 16px;">
                                                <i class="fas fa-ruler-combined" style="color: var(--black);"></i>
                                                <div class="ml-2">${x.features.sqft.toLocaleString(`us-EN`) + ' Sqft'}</div>
                                            </div>  
                                        </div>
                                        <div style="padding: 0 20px 10px 20px;"></div>
                                        </div>`
                            });
                        })
                    }, 500)
                },
                created(){
                    let max = 0
                    let beds = []
                    let baths = []
                    this.properties.forEach(x => {
                        if (x.price > max){
                            max = x.price
                        }
                        if (!beds.includes(x.features.beds.toString())){
                            beds.push(x.features.beds.toString())
                        }
                        if (!baths.includes(x.features.baths.toString())){
                            baths.push(x.features.baths.toString())
                        }
                    })
                    this.maxPrice = max
                    beds.sort((a,b) => {
						if (a < b) return -1
                        return 1
					})
                    baths.sort((a,b) => {
						if (a < b) return -1
                        return 1
					})
                    this.beds = beds
                    this.baths = baths
                    this.filteredProperties = this.properties
                    const vm = this
                    console.log('VM', vm)
                    window.updateDetails = function(id) {
                        vm.updateShowDetailsMap(id)
                    }
                }
            })
        </script>
    </body>
</html>