<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Properties | North Point Realty</title>
        <link rel="icon" href="/assets/logo-white-simple.png" type="image">
        
        <link rel="stylesheet" href="tailwind.min.css">
        <link rel="stylesheet" href="styles.css">
        <script src="vue.js"></script>
        <script src="https://kit.fontawesome.com/f086bec7e5.js" crossorigin="anonymous"></script>
        <!-- <script src="vue.min.js"></script> -->
    </head>
    <body>
        <div id="vue-home">
            <div id="nav-bar" class="absolute top-0 left-0 w-full z-50"></div>
            <div v-if="showDetails.visible" class="fixed w-screen h-screen hidden items-center justify-center top-0 left-0" :class="showDetails.visible ? 'isActive' : 'notActive'" style="z-index: 200;">
                <div class="w-full h-full flex justify-center items-center">
                    <div @click="closeViewDetails()" class="absolute w-full h-full details-mask-overlay"></div>
                    <div class="relative w-full h-full md:w-3/5 md:h-5/6 details-page">
                        <div class="flex justify-end">
                            <button @click="closeViewDetails()" style="color: var(--black); z-index: 2;" class="fixed mr-3 mt-3">
                                <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-8 w-8">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </button>
                        </div>
                        
                        <div v-if="showDetails.property" style="padding: 5%;">
                            <div class="mt-12 md:mt-0 lg-font-size headerFont" style="color: var(--black); font-weight: bold;">
                                {{showDetails.property.address}}
                            </div>
                            <div class="mt-8 propimg-holder-box relative">
                                <div class="absolute top-4 left-4 px-3 py-1" style="z-index: 2; border-radius: 5px; user-select: none; color: var(--white);" :style="[showDetails.property.status == 'Available' ? {'background-color': 'var(--green)'} : {'background-color': 'var(--red)'}]">
                                    {{showDetails.property.status}}
                                </div>
                                <img class="propimg-cover" :src="showDetails.property.image" />
                            </div>


                            <div class="w-full xl:flex items-center py-3 px-4 text-center md:text-left" style="background-color: var(--darkblue);">
                                <div class="md-font-size headerFont" style="color: var(--white); font-weight: bold;">
                                    ${{formatNumber(showDetails.property.price) + '/month'}}
                                </div>
                                <div class="flex-1 lg:flex">
                                    <div class="xl:ml-8 md:flex mt-2 ml-0">
                                        <div class="flex items-center justify-center md:justify-left" style="color: var(--white);">
                                            <i class="fas fa-bed md-font-size"></i>
                                            <div class="ml-2">{{showDetails.property.features.beds}}<span v-if="showDetails.property.features.beds > 1"> Beds</span><span v-else> Bed</span></div>
                                        </div>
                                        <div class="md:ml-3 flex items-center justify-center md:justify-left" style="color: var(--white);">
                                            <i class="fas fa-bath md-font-size"></i>
                                            <div class="ml-2">{{showDetails.property.features.baths}}<span v-if="showDetails.property.features.baths > 1"> Baths</span><span v-else> Bath</span></div>
                                        </div>
                                        <div class="md:ml-3 flex items-center justify-center md:justify-left" style="color: var(--white);">
                                            <i class="fas fa-ruler-combined md-font-size"></i>
                                            <div class="ml-2">{{formatNumber(showDetails.property.features.sqft) + ' Sqft'}}</div>
                                        </div>
                                    </div>
                                    <div class="lg:ml-8 mt-5 lg:mt-0 flex-1 flex justify-center md:justify-start lg:justify-end">
                                        <button class="py-2 px-5 transparentButton-white" onclick="document.location = '/NPRWebsite/contact'">Contact Now</button>
                                    </div>
                                </div>
                            </div>


                            <div class="mt-10 sm-font-size bodyFont md:flex" style="color: var(--black);">
                                <div class="w-full md:w-1/5 mb-8 md:mb-0 bodyFont sm-font-size">
                                    <div style="font-weight: bold;">
                                        Status
                                    </div>
                                    <div class="px-3 py-1" style="display: inline-block; border-radius: 5px; user-select: none; color: var(--white);" :style="[showDetails.property.status == 'Available' ? {'background-color': 'var(--green)'} : {'background-color': 'var(--red)'}]">
                                        {{showDetails.property.status}}
                                    </div>

                                    <div class="mt-8" style="font-weight: bold;">
                                        Move-in Date
                                    </div>
                                    <div>
                                        {{showDetails.property.date}}
                                    </div>

                                    <div class="mt-8" style="font-weight: bold;">
                                        Property Type
                                    </div>
                                    <div>
                                        {{showDetails.property.type}}
                                    </div>

                                    <div class="mt-8" style="font-weight: bold;">
                                        Agreement Type
                                    </div>
                                    <div>
                                        {{showDetails.property.agreementType}}
                                    </div>
                                </div>

                                <div class="w-full md:w-4/5" v-html="showDetails.property.description">
                                </div>
                            </div>


                            <div class="w-full mt-12">
                                <div class="lg-font-size headerFont mb-8">
                                    Features Included
                                </div>
                                <div class="sm:flex gap-10" style="flex-wrap: wrap;">
                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-fire"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Heat
                                            </div>
                                            <i v-if="showDetails.property.utilities.heat" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-tint"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Water
                                            </div>
                                            <i v-if="showDetails.property.utilities.water" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-bolt"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Hydro
                                            </div>
                                            <i v-if="showDetails.property.utilities.hydro" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>
                                    
                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-wifi"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Internet
                                            </div>
                                            <i v-if="showDetails.property.utilities.internet" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-couch"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Furnished
                                            </div>
                                            <i v-if="showDetails.property.features.furnished" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-tshirt"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Laundry
                                            </div>
                                            <i v-if="showDetails.property.features.laundry" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-hands-wash"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Dishwasher
                                            </div>
                                            <i v-if="showDetails.property.features.dishwasher" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-city"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Balcony
                                            </div>
                                            <i v-if="showDetails.property.features.balcony" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>

                                    <div class="flex items-center features-list-item">
                                        <div class="mr-3 flex justify-center items-center" style="width:40px; height:40px; border-radius:50%; border:2px solid #000">
                                            <i style="font-size:20px" class="fas fa-paw"></i>
                                        </div>
                                        <div class="flex-1 sm-font-size bodyFont">
                                            <div style="font-weight: bold;">
                                                Pets
                                            </div>
                                            <i v-if="showDetails.property.features.pets" class="far fa-check-circle" style="color: var(--green);"></i>
                                            <i v-else class="far fa-times-circle" style="color: var(--red);"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full" :style="[showMenu ? {'overflow':'hidden', 'max-height':'100vh'} : {'':''}]">
                <div class="hero-img-card relative">
                    <div class="absolute w-full h-full" style="z-index: 2; color:white">
                        <div class="mx-auto container w-full h-full">
                            <div class="flex items-center w-full h-full" style="padding:0 5%;"> 
                                <div class="w-full md:w-1/2 text-center md:text-left">
                                    <div class="xl-font-size heroHeaderFont">Properties</div>
                                    <div class="sm-font-size bodyFont mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/hero-placeholder2.jpg" class="hero-img-cover" />
                </div>
                <div class="container mx-auto">
                    <div style="padding: 5%;">
                        <h1 class="headerFont xl-font-size">Available Properties</h1>
                        <div class="my-10 grid sm:grid-cols-2 lg:grid-cols-3 gap-10 sm:gap-16 lg:gap-20">
                            <template v-for="(prop,propI) in properties">
                                <div @click="updateShowDetails(prop)" class="w-full">
                                    <div class="img-holder-box relative">
                                        <div class="absolute top-4 left-4 px-3 py-1" style="z-index: 2; border-radius: 5px; user-select: none; cursor: pointer; color: var(--white);" :style="[prop.status == 'Available' ? {'background-color': 'var(--green)'} : {'background-color': 'var(--red)'}]">
                                            {{prop.status}}
                                        </div>
                                        <img class="img-cover" :src="prop.image" />
                                    </div>
                                    <div>
                                        <div class="mt-2 md-font-size headerFont" style="font-weight: bold;">
                                            {{prop.address}}
                                        </div>
                                        <div class="mt-2 md-font-size headerFont" style="color: var(--darkorange);">
                                            ${{formatNumber(prop.price) + '/month'}}
                                        </div>
                                        <div class="md:flex mt-2">
                                            <div class="flex items-center">
                                                <i class="fas fa-bed md-font-size" style="color: var(--black);"></i>
                                                <div class="ml-2">{{prop.features.beds}}<span v-if="prop.features.beds > 1"> Beds</span><span v-else> Bed</span></div>
                                            </div>
                                            <div class="md:ml-3 flex items-center">
                                                <i class="fas fa-bath md-font-size" style="color: var(--black);"></i>
                                                <div class="ml-2">{{prop.features.baths}}<span v-if="prop.features.baths > 1"> Baths</span><span v-else> Bath</span></div>
                                            </div>
                                            <div class="md:ml-3 flex items-center">
                                                <i class="fas fa-ruler-combined md-font-size" style="color: var(--black);"></i>
                                                <div class="ml-2">{{formatNumber(prop.features.sqft) + ' Sqft'}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <div id="footer"></div>
            </div>
        </div>

        <script src="navbar.js"></script>
        <script src="footer.js"></script>
        <script src="script.js"></script>
        
        <script>
            new Vue({
                el: '#vue-home',
                data:{
                    showMenu: false,
                    showDetails:{
                        visible:false,
                        property:{}
                    },
                    properties:[
                        {
                            image:'/assets/properties/placeholder.jpg',
                            featuredImages:[],
                            type:'Highrise',
                            status:'Available',
                            address:'215 Queen St E, Brampton, ON L6W 0A9',
                            price:1895,
                            description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est risus, feugiat vel metus eu, malesuada dignissim neque. Aliquam erat volutpat. Ut sem mauris, consequat et luctus sed, finibus vitae libero. Proin at suscipit ipsum. Nam aliquet enim ex. Quisque at vulputate mi. Praesent fringilla placerat erat in aliquet. Donec gravida mi a tortor fringilla convallis. Cras id mi nisi. Donec vestibulum arcu vel augue suscipit, quis varius lectus egestas. Donec sit amet mi rhoncus erat luctus vestibulum a sed leo.',
                            date:'May 1, 2021',
                            utilities:{
                                heat:true,
                                water:false,
                                hydro:true,
                                internet:false
                            },
                            features:{
                                beds:2,
                                baths:2,
                                sqft:600,
                                parking:1,
                                garage:0,
                                exposure:'',
                                furnished:true,
                                laundry:false,
                                dishwasher:true,
                                balcony:false,
                                pets:true,
                            },
                            agreementType:'1 Year',
                        },
                        {
                            image:'assets/properties/placeholder.jpg',
                            featuredImages:[],
                            type:'Highrise',
                            status:'Available',
                            address:'215 Queen St E, Brampton, ON L6W 0A9',
                            price:1895,
                            description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est risus, feugiat vel metus eu, malesuada dignissim neque. Aliquam erat volutpat. Ut sem mauris, consequat et luctus sed, finibus vitae libero. Proin at suscipit ipsum. Nam aliquet enim ex. Quisque at vulputate mi. Praesent fringilla placerat erat in aliquet. Donec gravida mi a tortor fringilla convallis. Cras id mi nisi. Donec vestibulum arcu vel augue suscipit, quis varius lectus egestas. Donec sit amet mi rhoncus erat luctus vestibulum a sed leo.',
                            date:'May 1, 2021',
                            utilities:{
                                heat:true,
                                water:false,
                                hydro:true,
                                internet:false
                            },
                            features:{
                                beds:2,
                                baths:2,
                                sqft:600,
                                parking:1,
                                garage:0,
                                exposure:'',
                                furnished:true,
                                laundry:false,
                                dishwasher:true,
                                balcony:false,
                                pets:true,
                            },
                            agreementType:'1 Year',
                        },
                        {
                            image:'assets/properties/placeholder.jpg',
                            featuredImages:[],
                            type:'Highrise',
                            status:'Available',
                            address:'215 Queen St E, Brampton, ON L6W 0A9',
                            price:1895,
                            description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est risus, feugiat vel metus eu, malesuada dignissim neque. Aliquam erat volutpat. Ut sem mauris, consequat et luctus sed, finibus vitae libero. Proin at suscipit ipsum. Nam aliquet enim ex. Quisque at vulputate mi. Praesent fringilla placerat erat in aliquet. Donec gravida mi a tortor fringilla convallis. Cras id mi nisi. Donec vestibulum arcu vel augue suscipit, quis varius lectus egestas. Donec sit amet mi rhoncus erat luctus vestibulum a sed leo.',
                            date:'May 1, 2021',
                            utilities:{
                                heat:true,
                                water:false,
                                hydro:true,
                                internet:false
                            },
                            features:{
                                beds:2,
                                baths:2,
                                sqft:600,
                                parking:1,
                                garage:0,
                                exposure:'',
                                furnished:true,
                                laundry:false,
                                dishwasher:true,
                                balcony:false,
                                pets:true,
                            },
                            agreementType:'1 Year',
                        },
                        {
                            image:'assets/properties/placeholder.jpg',
                            type:'Lowrise',
                            status:'Leased',
                            address:'215 Queen St E, Brampton, ON L6W 0A9',
                            price:1895,
                            description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est risus, feugiat vel metus eu, malesuada dignissim neque. Aliquam erat volutpat. Ut sem mauris, consequat et luctus sed, finibus vitae libero. Proin at suscipit ipsum. Nam aliquet enim ex. Quisque at vulputate mi. Praesent fringilla placerat erat in aliquet. Donec gravida mi a tortor fringilla convallis. Cras id mi nisi. Donec vestibulum arcu vel augue suscipit, quis varius lectus egestas. Donec sit amet mi rhoncus erat luctus vestibulum a sed leo.',
                            date:'May 1, 2021',
                            utilities:{
                                heat:true,
                                water:false,
                                hydro:true,
                                internet:false
                            },
                            features:{
                                beds:2,
                                baths:2,
                                sqft:1200,
                                parking:1,
                                garage:0,
                                exposure:'',
                                furnished:true,
                                laundry:false,
                                dishwasher:true,
                                balcony:false,
                                pets:true,
                            },
                            agreementType:'1 Year',
                        },
                    ]
                },
                methods:{
                    toggleMenu(){
                        this.showMenu = !this.showMenu
                    },
                    navigateHome(){
                        location.href='/'
                    },
                    closeViewDetails(){
                        this.showDetails.visible = false
				        this.showDetails.property = {}
                    },
                    updateShowDetails(obj){
                        this.showDetails.property = obj
                        this.showDetails.visible = true
                    },
                    formatNumber(num){
                        return num.toLocaleString(`us-EN`);
                    }
                },
                computed:{

                },
                mounted(){

                },
                created(){

                }
            })
        </script>
    </body>
</html>