/* Global Classes */
:root {
    --darkblue: #032E5B;
    --lightblue : #586BA4;
    --baige: #F5DD90;
    --orange: #F68E5F;
    --darkorange: #F76C5E;
    --offwhite: #F6F6F6;
    --gray: #939393;
    --black: #111111;
    --white: #FFFFFF;
    --green: #4BB543;
    --red: #B71C1C;
}
html {
    scroll-behavior: smooth;
}
.headerFont {
    font-family: "Calibri", sans-serif;
}
.bodyFont {
    font-family: "Calibri", sans-serif;
}
.heroHeaderFont {
    font-family: "libre baskerville", serif;
}
.global-background-img {
	min-height:100%;
	background-size:cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}



/* Scrollbar Classes */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--offwhite); 
}

::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--darkblue); 
}



/* Navigation Classes */
.container-padding {
    padding: 0 5%;
}
.nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--white);
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 100px;
    overflow: hidden;
}
  
.navbar img {
    width: auto;
    height: 75px;
    object-fit: contain;
    justify-self: start;
    /* margin-left: 25px; */
}
  
.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    justify-self: end;
    /* margin-right: 25px; */
}
  
.nav-item a {
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.nav-item a:hover {
    color: var(--darkblue);
}

.nav-item-black a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.nav-item-black a:hover {
    color: var(--darkblue);
}

.menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
}

.menu-toggle:hover{
    cursor: pointer;
}

.no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
}

#mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 1024px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar img {
        height: 50px;
    }
    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 0;
        left: 0;
        background-color: var(--white);
        width: 100%;
        gap: 5px;
        height: 100vh;
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
    }

    .nav-item a {
        color: var(--black);
    }
    
    .navbar li {
        padding: 15px;
    }
    
    .navbar li:first-child {
        margin-top: 150px;
    }
    
    .navbar li a {
        font-size: 1rem;
    }
    
    .menu-toggle, .bar {
        display: block;
        cursor: pointer;
    }
    
    .mobile-nav {
        transform: translate(0%)!important;
    }
}



/* Font Sizes and Padding */
@media screen and (min-width: 1280px) {
    .xxl-font-size {
		font-size: 65px;
		line-height: 1;
	}
	.xl-font-size {
		font-size: 42px;
		line-height: 1.15;
	}
	.lg-font-size {
        font-size: 36px;
		line-height: 1.25;
    }
    .md-font-size {
        font-size: 24px;
		line-height: 1.35;
    }
    .sm-font-size {
        font-size: 18px;
		line-height: 1.5;
    }
	.xs-font-size {
		font-size: 14px;
		line-height: 1.65;
	}
}
@media screen and (max-width: 1280px) {
	.xxl-font-size {
		font-size: 55px;
		line-height: 1;
	}
    .xl-font-size {
		font-size: 40px;
		line-height: 1.15;
	}
	.lg-font-size {
        font-size: 32px;
		line-height: 1.25;
    }
    .md-font-size {
        font-size: 20px;
		line-height: 1.35;
    }
    .sm-font-size {
        font-size: 16px;
		line-height: 1.5;
    }
	.xs-font-size {
		font-size: 12px;
		line-height: 1.65;
	}
}
@media screen and (max-width: 1024px) {
	.xxl-font-size {
		font-size: 50px;
		line-height: 1;
	}
    .xl-font-size {
		font-size: 36px;
		line-height: 1.15;
	}
	.lg-font-size {
        font-size: 30px;
		line-height: 1.25;
    }
    .md-font-size {
        font-size: 20px;
		line-height: 1.35;
    }
    .sm-font-size {
        font-size: 16px;
		line-height: 1.5;
    }
	.xs-font-size {
		font-size: 12px;
		line-height: 1.65;
	}
}
@media screen and (max-width: 768px) {
	.xxl-font-size {
		font-size: 45px;
		line-height: 1;
	}
    .xl-font-size {
		font-size: 28px;
		line-height: 1.15;
	}
	.lg-font-size {
        font-size: 24px;
		line-height: 1.25;
    }
    .md-font-size {
        font-size: 18px;
		line-height: 1.35;
    }
    .sm-font-size {
        font-size: 16px;
		line-height: 1.5;
    }
	.xs-font-size {
		font-size: 12px;
		line-height: 1.65;
	}
}
@media screen and (max-width: 640px) {
	.xxl-font-size {
		font-size: 40px;
		line-height: 1;
	}
    .xl-font-size {
		font-size: 26px;
		line-height: 1.15;
	}
	.lg-font-size {
        font-size: 22px;
		line-height: 1.25;
    }
    .md-font-size {
        font-size: 18px;
		line-height: 1.35;
    }
    .sm-font-size {
        font-size: 14px;
		line-height: 1.5;
    }
	.xs-font-size {
		font-size: 12px;
		line-height: 1.65;
	}
}

.no-padding-y {
	padding-top: 0%;
	padding-bottom: 0%;
}
.xs-padding-y {
	padding-top: 1%;
	padding-bottom: 1%;
}
.sm-padding-y {
	padding-top: 2%;
	padding-bottom: 2%;
}
.md-padding-y {
	padding-top: 5%;
	padding-bottom: 5%;
}
.lg-padding-y {
	padding-top: 7%;
	padding-bottom: 7%;
}
.xl-padding-y {
	padding-top: 12%;
	padding-bottom: 12%;
}

.no-padding-x {
	padding-left: 0%;
	padding-right: 0%;
}
.xs-padding-x {
	padding-left: 1%;
	padding-right: 1%;
}
.sm-padding-x {
	padding-left: 2%;
	padding-right: 2%;
}
.md-padding-x {
	padding-left: 5%;
	padding-right: 5%;
}
.lg-padding-x {
	padding-left: 7%;
	padding-right: 7%;
}
.xl-padding-x {
	padding-left: 12%;
	padding-right: 12%;
}



/* Button Classes */
.transparentButton-white {
    background-color: transparent;
    color: var(--white);
    border: 2px solid;
    border-color: var(--white);
    transition: color 0.2s ease-out;
}
.transparentButton-white:hover {
    color: var(--darkorange);
    border-color: var(--darkorange);
    transition: color 0.2s ease-out;
}
.transparentButton {
    background-color: transparent;
    color: var(--black);
    border: 2px solid;
    border-color: var(--black);
    transition: color 0.2s ease-out;
}
.transparentButton:hover {
    color: var(--darkorange);
    border-color: var(--darkorange);
    transition: color 0.2s ease-out;
}
.solidButton {
    background-color: var(--black);
    color: var(--white);
    transition: background-color 0.2s ease-out;
}
.solidButton:hover {
    background-color: var(--darkorange);
    border-color: var(--darkorange);
    transition: background-color 0.2s ease-out;
}



/* Other */
.faq-tabs-section .faq-tabs:not(:first-child) {
    margin-left: 2em;
}
dt:not(:first-child) {
    margin-top: 1.25em;
}
.accordion-dropdown dt {
    background: var(--offwhite);
    color: var(--black);
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    transition: 0.1s;
}
.accordion-dropdown dt svg {
    float: right;
    transition: 0.2s;
    opacity: 0.3;
}
.accordion-dropdown dd {
    display: none;
    margin: 0;
}
.rental-accordion-dropdown dt {
    background: var(--white);
    color: var(--black);
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    transition: 0.1s;
}
.rental-accordion-dropdown dt svg {
    float: right;
    transition: 0.2s;
    opacity: 0.3;
}
.rental-accordion-dropdown dd {
    display: none;
    margin: 0;
}

dt.expanded svg{
    transform: rotate(90deg);
    stroke: var(--white) !important;
    opacity: 1;
}
dt.expanded {
    background-color: var(--darkblue) !important;
    color: var(--white) !important;
}
.faq-tabs {
    cursor: pointer;
}
@media screen and (max-width: 640px){
    .features-list-item:not(:first-child) {
        margin-top: 1.25em;
    }
}
.filterClass:focus-visible {
    outline: none;
}
.filterClass option {
    background-color: var(--black);
}
.filterClass option:hover {
    background-color: var(--darkblue);
}


/* Main Page */
@media screen and (min-width: 1024px){
    .hero-img-card {
        height: 0;
        overflow: hidden;
        padding-bottom: 45%;
        position: relative;
    }
}
@media screen and (max-width: 1024px){
    .hero-img-card {
        position: relative;
        width: 100%;
        height: 85vh;
    }
}
.hero-img-card::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
}
.hero-img-cover {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;
}


/* Image Classes */
.img-holder-box {
    height: 0;
    overflow: hidden;
    padding-bottom: 75%;
    position: relative;
}
.img-cover {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;
    cursor: pointer;
    transition:transform 1s ease-out;
}
.img-holder-box:hover .img-cover {
    transform:scale(1.1);
}
.img-holder-box-2 {
    height: 0;
    overflow: hidden;
    padding-bottom: 75%;
    position: relative;
}
.img-cover-2 {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

@media screen and (min-width: 768px){
    .propimg-holder-box {
        height: 0;
        overflow: hidden;
        padding-bottom: 50%;
        position: relative;
    }
}
@media screen and (max-width: 768px){
    .propimg-holder-box {
        height: 0;
        overflow: hidden;
        padding-bottom: 75%;
        position: relative;
    }
}

.propimg-cover {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

@media screen and (min-width: 768px){
    .map-container {
        width: calc(100% - 1px);
        max-width: 100%;
        height: 80vh;
    }
}
@media screen and (max-width: 768px){
    .map-container {
        width: calc(100% - 1px);
        max-width: 100%;
        height: 50vh;
    }
}

@media screen and (min-width: 768px){
    .contact-map-container {
        width: calc(100% - 1px);
        max-width: 100%;
        height: 66vh;
    }
}
@media screen and (max-width: 768px){
    .contact-map-container {
        width: calc(100% - 1px);
        max-width: 100%;
        height: 40vh;
    }
}

.infobox-content{
    min-width: max-content;
    padding: 0;
    background: #FFF;
    color: #000;
    border-radius: 5px;
}



/* Modal Classes */
.details-mask-overlay {
    background: rgba(0,0,0,0.6);
    z-index: 101;
    overflow: hidden;
}
.details-page {
    background-color: var(--white);
    z-index: 102;
    overflow-y: scroll;
}
.isActive {
    display: flex !important;
}
.notActive {
    display: none !important;
}
.selectFilter:focus-visible {
    outline: none;
}



/* Form Classes */
.form-input {
    height: 50px;
    width: 100%;
    background-color: #F2F2F2;
    color: var(--black);
}
.textarea-input-bg-color {
    background-color: #F2F2F2;
    color: var(--black);
}

#form-status.success {
    background-color: var(--green);
    animation: status 4s ease forwards;
}
#form-status.error {
    background-color: var(--red);
    animation: status 4s ease forwards;
}
@keyframes status {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}



/* Loading Classes */
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }