<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Properties | North Point Realty</title>
        <link rel="icon" href="/assets/logo-white-simple.png" type="image">
        
        <link rel="stylesheet" href="tailwind.min.css">
        <link rel="stylesheet" href="styles.css">
        <script src="vue.js"></script>
        <script src="https://kit.fontawesome.com/f086bec7e5.js" crossorigin="anonymous"></script>
        <!-- <script src="vue.min.js"></script> -->
    </head>
    <body>
        <div id="vue-home">
            <div id="nav-bar"></div>
            <div v-if="showDetails.visible" class="fixed w-screen h-screen hidden items-center justify-center top-0 left-0" :class="showDetails.visible ? 'isActive' : 'notActive'" style="z-index: 200;">
                <div class="w-full h-full flex justify-center items-center">
                    <div @click="closeViewDetails()" class="absolute w-full h-full details-mask-overlay"></div>
                    <div class="relative w-full h-full md:w-3/5 md:h-5/6 details-page">
                        <button @click="closeViewDetails()" style="color: var(--black);" class="fixed">
                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-8 w-8">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </button>
                        
                        <div v-if="showDetails.property" style="padding: 5%;">
                            <div class="mt-12 md:mt-0 lg-font-size headerFont" style="color: var(--black);">
                                {{showDetails.property.address}}
                            </div>
                            <div class="mt-8 propimg-holder-box">
                                <img class="propimg-cover" :src="showDetails.property.image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <div class="container mx-auto">
                    <div style="padding: 5%;">
                        <h1 class="headerFont xl-font-size">Available Properties</h1>
                        <div class="my-10 grid sm:grid-cols-2 lg:grid-cols-3 gap-14 sm:gap-16 lg:gap-20">
                            <template v-for="(prop,propI) in properties">
                                <div @click="updateShowDetails(prop)" class="w-full">
                                    <div class="img-holder-box relative">
                                        <div class="absolute top-4 left-4 px-3 py-1" style="z-index: 2; border-radius: 5px; user-select: none; cursor: pointer; color: var(--white);" :style="[prop.status == 'Available' ? {'background-color': 'var(--green)'} : {'background-color': 'var(--red)'}]">
                                            {{prop.status}}
                                        </div>
                                        <img class="img-cover" :src="prop.image" />
                                    </div>
                                    <div>
                                        <div>
                                            {{prop.address}}
                                        </div>
                                        <i class="fas fa-bed"></i>
                                        <i class="fas fa-bath"></i>
                                        <i class="fas fa-ruler-combined"></i>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer"></div>
        </div>

        <script src="navbar-black.js"></script>
        <script src="footer.js"></script>
        <script src="script.js"></script>
        
        <script>
            new Vue({
                el: '#vue-home',
                data:{
                    showMenu: false,
                    showDetails:{
                        visible:false,
                        property:{}
                    },
                    properties:[
                        {
                            image:'/assets/properties/placeholder.jpg',
                            featuredImages:[],
                            type:'highrise',
                            status:'Available',
                            address:'215 Queen St E, Brampton, ON L6W 0A9',
                            price:1895,
                            description:'One Bedroom Plus Den (1+den) Available May 1, 2021. Located in Brampton at 215 Queen St E (Queen St E & Kennedy Rd S), this unit is perfect for any professional individual/couple or a small family! Close to Bramalea City Centre, Hwy 410, with many restaurants and shops just steps away. Come take a look at the unit yourself!',
                            date:'May 1, 2021',
                            furnished:false,
                            utilities:{
                                heat:false,
                                water:false,
                                hydro:false,
                                internet:false
                            },
                            features:{
                                bed:1,
                                bath:1,
                                sqft:600,
                                parking:1,
                                garage:0,
                                exposure:'',
                            },
                            agreementType:'',
                        },
                        {
                            image:'/assets/properties/placeholder.jpg',
                            imagex2:'/assets/properties/placeholder.jpg',
                            type:'highrise',
                            status:'Leased',
                            address:'215 Queen St E, Brampton, ON L6W 0A9',
                            price:1895,
                            description:'One Bedroom Plus Den (1+den) Available May 1, 2021. Located in Brampton at 215 Queen St E (Queen St E & Kennedy Rd S), this unit is perfect for any professional individual/couple or a small family! Close to Bramalea City Centre, Hwy 410, with many restaurants and shops just steps away. Come take a look at the unit yourself!',
                            date:'May 1, 2021',
                            furnished:false,
                            utilities:{
                                heat:false,
                                water:false,
                                hydro:false,
                                internet:false
                            },
                            features:{
                                bed:1,
                                bath:1,
                                sqft:600,
                                parking:1,
                                garage:0,
                                exposure:'',
                            },
                            agreementType:'',
                        },
                    ]
                },
                methods:{
                    toggleMenu(){
                        this.showMenu = !this.showMenu
                    },
                    navigateHome(){
                        location.href='/src/'
                    },
                    closeViewDetails(){
                        this.showDetails.visible = false
				        this.showDetails.property = {}
                    },
                    updateShowDetails(obj){
                        this.showDetails.property = obj
                        this.showDetails.visible = true
                    }
                },
                computed:{

                },
                mounted(){

                },
                created(){

                }
            })
        </script>
    </body>
</html>